<table>
  <tr>
    <td width="200px" class="blue">Team Blue</td>
    <td width="200px" class="red">Team Red</td>
  </tr>

  <% if @game.live? %>
    <tr>
      <td class="blue"><%= link_to 'Add', update_score_path(team_color: :team_blue, add_or_remove: :add) %></td>
      <td class="red"><%= link_to 'Add', update_score_path(team_color: :team_red, add_or_remove: :add) %></td>
    </tr>
  <% end %>

  <tr style="font-size: 96px">
    <td class="blue"><%= @game.team_blue_score %></td>
    <td class="red"><%= @game.team_red_score %></td>
  </tr>

  <% if @game.live? %>
    <tr>
      <td class="blue"><%= link_to 'Remove' , update_score_path(team_color: :team_blue, add_or_remove: :remove) %></td>
      <td class="red"><%= link_to 'Remove' , update_score_path(team_color: :team_red, add_or_remove: :remove) %></td>
    </tr>
  <% end %>
</table>
